<!DOCTYPE html>

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="welcome.css" type="text/css" />
  <style>
    body{
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background: #f1e4da;
    }

     .box{
       border-radius: 25px;
        width: 300px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff;
        text-align: center;
     } 
    
    .box h1{
        color: #f4acb7;
        text-transform: uppercase;
        font-weight: 500;
        font: Verdana;
    }

    .button {
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      font: sans-serif;
      border: 2px solid #f4acb7;
      padding: 14px 10px;
      width: 200px;
      outline: none;
      color: grey;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }

    .button {
        background: #f1e4da;
    }

  </style>
  
</head>

<body>
    <form class = "box" action="/" method="POST">
      <h1>Welcome</h1>
      <a href="/users/register" class="button">Create an Account</a>
      <a href="/users/login" class="button">Login</a>
  </form>

  </body>
</html>

